<!DOCTYPE HTML>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid" style="background-color: darkgrey">
            <header  style="height: 80px; background-color: #cfb53e">
                <h1>Previsão de Carga - Energisa</h1>
            </header>	
            {% block body %}{% endblock %}
            <footer>
                <h1 style="height: 80px; align-items: center; background-color: #d1584b">Rodapé</h1>
            </footer>
        </div>
    </body>
    </html>
</html>